<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Lists and Conditional Content</h1>
    </header>
    <section id="assignment">
      <h2>Assignment</h2>
      <!-- 1) 1) Vue proqramında tapşırıqların siyahısını idarə etmək üçün kod əlavə edin-->
      <!-- "Add Task" düyməsini kliklədikdə, daxil edilmiş mətnlə yeni tapşırıq əlavə edilməlidir -->
      <input type="text" v-model="enteredvalue" >
      <button @click="addgoal">Add Task</button>
      <ul v-if="goallistvisible">
        <!-- 2)Tapşırıqların siyahısını buradan çıxarın-->
        <li v-for="goal in goals" :key="goal">
          {{goal}}
        </li>
      </ul>
      <!-- 3)Aşağıdakı düyməyə basıldıqda, siyahı göstərilməli və ya gizlənməlidir -->
      <!-- BONUS: Həmçinin düymənin başlığını yeniləyin -->
      <!-- <button @click="togglelist">{{goallistvisible ? 'hide' : 'show' }} List</button> -->
      <button @click="togglelist">{{ buttoncaption }}</button>
    </section>
  </body>
</html>
